<div id="footer" class="footer">
  <div class="box ac">
    <p><span>{{$db.word.copyright}}</span></p>
    <p>Powered by <span>{{$db.app.name}}</span> <span>{{$db.app.version}}</span></p>
  </div>
</div>
