<div id="header" class="header">
  <div class="box">
    <div>
      <div class="head-title fs-mx">
        <a href="#">
          <img src="../../assets/img/logo.png" width="36" height="36" />
          <span>MCUI DEMO</span>
        </a>
      </div>
    </div>
    <div>
      <div class="mc-menu">
        <input class="mc-menu-switch" id="mc-menu-switch" type="checkbox" /><label class="mc-menu-icon" for="mc-menu-switch"></label>
        <div id="head-menu-list" class="mc-menu-list">
          <ul class="fs-sl">
            <li><a href="/views/home/index.htm">网站首页</a></li>
            <li><a href="/views/about/index.htm">关于我们</a></li>
            <li><a href="/views/news/index.htm">新闻动态</a></li>
            <li><a href="/views/product/index.htm">产品展示</a></li>
            <li><a href="/views/contact/index.htm">联系我们</a></li>
            <li><a href="/views/error/index.htm">错误路径</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
