<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="description" content="{{$db.meta.description}}" />
<meta name="keywords" content="{{$db.meta.keywords}}" />
<meta name="author" content="Junbo" />
<meta name="robots" content="index,follow" />
<meta name="application-name" content="webmcui.com" />
<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
<title>{{$db.meta.keywords}}-{{$db.site.name}}</title>
